modules = ["nodejs-20", "nix"]
hidden = [".config", "package-lock.json"]
run = "node index.js"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "node index.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 5050
externalPort = 80
exposeLocalhost = true
